package {{$name}};
 
use strict;
use warnings;
use 5.10.1;

 
1;

__END__
 
=encoding utf-8
 
=head1 NAME
 
{{$name}} - Short intro
 
=head1 SYNOPSIS
 
  use {{$name}};
 
=head1 DESCRIPTION
 
{{$name}} is ...
 
=head1 SEE ALSO
 
=cut